* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins;
    scroll-behavior: smooth;
}

.jumbo {
    width: 100%;
    background-color: black;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 4vw 0vh 4vw;
}

.logo {
    font-size: 2.5vw;
    font-weight: 500;
    background: linear-gradient(to right, white 50%, #3446ec 70%);
    background-clip: text;
    color: transparent;
}

.btn1 {
    padding: 1.5vh 2vw;
    border-radius: 5vw;
    background-color: rgb(37, 35, 35);
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1vw;
    letter-spacing: 1px;
}

.btn2 {
    padding: 1.5vh 2vw;
    border-radius: 5vw;
    background-color: white;
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1vw;
    letter-spacing: 0.1vw;
    transition: display 1.5s ease;
}

#menu {
    padding: 1vw 6vw 1vw 2vw;
    background-color: #3446ec2a;
    position: absolute;
    top: 14vh;
    right: 4vw;
    display: none;
    row-gap: 2vw;
    flex-direction: column;
    z-index: 1;
}

#menu>a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1vw;
}

.title {
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 1px white;
    font-size: 6vw;
    margin-top: 15vh;
}


#about {
    width: 90%;
    margin: 15vh auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    position: relative;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo {
    position: absolute;
    width: 20vw;
    height: 20vw;
    background-image: url(./images/TrainDevs.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.back {
    position: absolute;
    width: 20.5vw;
    height: 20.5vw;
    background: linear-gradient(to left, #3446ec, white, #3446ec);
    border-radius: 50%;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.about-content {
    width: 25vw;
}

.about-content>h3 {
    color: white;
    font-size: 1.4vw;
    font-weight: 400;
}

.about-content>p {
    margin: 0.3vw 0vw 3.5vw 0vw;
    text-align: left;
    color: white;
    font-size: 1.3vw;
    font-weight: 300;
}

.experience {
    width: 25vw;
}

.experience>h3 {
    color: white;
    font-size: 1.4vw;
    font-weight: 400;
    text-align: right;
}

.experience>p {
    margin: 0.2vw 0vw 3.5vw 0vw;
    text-align: right;
    color: white;
    font-size: 3.3vw;
    font-weight: 500;
}

.logos {
    padding: 1vw 0px;
}

.logos>a>img {
    width: 3vw;
}

/* css for contact */

#contact,
#services {
    width: 90%;
    margin: 15vh auto 0vh auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.contact-title,
.service-title {
    font-size: 4vw;
    font-weight: 600;
    background: linear-gradient(to right, white 20%, #3446ec 70%);
    background-clip: text;
    color: transparent;
}

.form {
    /* animation: appear linear;
    animation-timeline: view();
    animation-range: entry 10% cover 40%; */
    padding: 1vw 0vw;
}

.contactme {
    display: flex;
}

.email {
    width: 30vw;
}

.phone {
    width: 30vw;
}

.c1 {
    font-weight: 600;
    font-size: 1.1vw;
    letter-spacing: 1px;
}

.c2 {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5vw;
    letter-spacing: 0.1vw;
}

#form1 {
    padding: 7vh 0px 15vh 0px;
}

#form-email {
    color: white;
    font-size: 1vw;
    margin-left: 1vw;
    border: none;
    border-radius: 10px;
    width: 30vw;
    padding: 2.5vh 1vw;
    background-color: rgb(37, 35, 35);
}

#form-name {
    color: white;
    font-size: 1vw;
    border: none;
    border-radius: 10px;
    width: 28vw;
    padding: 2.5vh 1vw;
    background-color: rgb(37, 35, 35);
}

#form-subject {
    color: white;
    font-size: 1vw;
    margin-top: 1.5vw;
    border: none;
    border-radius: 10px;
    width: 59.3vw;
    padding: 2.5vh 1vw;
    background-color: rgb(37, 35, 35);
}
#form1 button {
    width: auto;
    font-size: 1vw;
    padding: 2.5vh;
    border-radius: 8px;
}
.btns{
    width: 100vw;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#form-message {
    font-size: 1vw;
    color: white;
    margin-top: 1.5vw;
    border: none;
    border-radius: 10px;
    width: 59.3vw;
    padding: 2.5vh 1vw;
    background-color: rgb(37, 35, 35);
}

#form-btn {
    float: right;
    margin-top: 1vw;
    margin-right: 1vw;
    color: white;
    font-size: 1.2vw;
    border: none;
    border-radius: 50px;
    padding: 15px 30px;
    background-color: rgb(37, 35, 35);
}

/* css for service  */

.service-content {
    width: 60vw;
}

.service {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 10% cover 40%;
    position: relative;
    margin: 0vw 0.5vw 1vw 0vw;
    background-color: rgb(37, 35, 35);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    padding: 0vw 2vw;
}

.service:hover {
    background: linear-gradient(to right, rgba(161, 193, 221, 0.295) 5%, #6673e941 40%, #5b6aee3a 80%);
}

.service::before {
    content: '';
    position: absolute;
    top: 19.7vh;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, white 20%, #6673e9 40%, #3446ec 80%);
}

.service>span {
    font-size: 1.5vw;
    font-weight: 500;
}

.service>p {
    font-size: 1.3vw;
    font-weight: 400;
}

/* css for portfolio */
#portfolio {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 10% cover 40%;
    width: 90%;
    padding: 1vw 2vw;
    margin: 15vh auto;
    background-color: rgb(37, 35, 35);
    border-radius: 1vw;
}

.portfolio-title {
    font-size: 4vw;
    font-weight: 600;
    background: linear-gradient(to right, white 5%, #3446ec 30%);
    background-clip: text;
    color: transparent;
}

.buttons {
    display: inline-flex;
    column-gap: 1vw;
    margin: 4vh 0px;
}

.btn {
    width: 5vw;
    height: 5vw;
    background-position: center;
    background-size: 3vw;
    background-repeat: no-repeat;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.178);
    box-shadow: 1px 1px 5px #eef0f1;
}

#left-btn {
    background-image: url(./images/arrow-left-long-line.png);
}

#right-btn {
    background-image: url(./images/arrow-right-long-line.png);
}

.container-slider {
    position: relative;
    overflow: hidden;
}

.slider {
    width: max-content;
    display: flex;
    align-items: center;
    column-gap: 4vw;
    height: 60vh;
    transition: transform 1.5s ease;
}

.p {
    width: 50vw;
    height: 50vh;
    border-radius: 2vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.p1 {
    background-image: url(./images/p1.png);
}

.p2 {
    background-image: url(./images/p2.png);
}

.p3 {
    background-image: url(./images/p3.png);
}

/* css for skills */
#skills {
    width: 90%;
    padding: 1vw 2vw;
    margin: 15vh auto;
    background-color: rgb(37, 35, 35);
    border-radius: 1vw;
}

.skills-title {
    font-size: 4vw;
    font-weight: 600;
    background: linear-gradient(to right, white 5%, #3446ec 10%);
    background-clip: text;
    color: transparent;
}

.container-skills {
    margin-top: 2vw;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2vw;
    row-gap: 2vw;
}

.skill {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 10% cover 40%;
    background-color: rgba(0, 0, 0, 0.212);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.479);
    border-radius: 20px;
    height: 20vw;
    color: white;
    flex-direction: column;
    row-gap: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-chart {
    display: block;
    margin: 1vw auto;
    max-height: 120px;
}

.circle {
    stroke: #3446ec;
    fill: rgb(37, 35, 35);
    stroke-width: 2;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
    animation-timeline: view();
    animation-range: entry 15% cover 40%;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.percentage1 {
    font-size: 0.5vw;
    fill: white;
}

@keyframes appear {
    0% {
        opacity: 0;
        scale: 0.7;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

@media (max-width: 768px) {
    * {
        font-size: 4vw;
        /* relative font size for readability */
    }

    /* all titles */
    .skills-title,
    .contact-title,
    .portfolio-title,
    .service-title {
        font-size: 8vw;
    }

    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .logo {
        font-size: 7vw;
        margin-bottom: 2vh;
    }

    .btn1,
    .btn2 {
        font-size: 3.5vw;
        padding: 1.5vh 4vw;
        margin: 1vh 0;
    }

    .title {
        font-size: 10vw;
        margin-top: 10vh;
        text-align: center;
    }

    /* About Section */
    #about {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 7vh auto;
    }

    .about-content {
        width: 90vw;
        order: 1;
    }

    .about-content>h3 {
        font-size: 5vw;
        text-align: center;
        color: blue;
    }

    .about-content>p {
        font-size: 4vw;
        text-align: center;
    }

    .logos>a>img {
        width: 5vw;
    }

    .profile {
        width: 50vw;
        height: 50vw;
        margin: 5vh 0;
        order: 2;
    }

    .photo,
    .back {
        width: 50vw;
        height: 50vw;
    }

    .experience {
        width: 90vw;
        margin-top: 3vh;
        text-align: center;
        order: 3;
    }

    .experience>h3 {
        color: blue;
        text-align: center;
        font-size: 5vw;
    }

    .experience>p {
        text-align: center;
        font-size: 4vw;
    }

    /* Contact Section */
    #contact {
        margin: 7vh auto 0vh auto;
        flex-direction: column;
        align-items: center;
        gap: 5vh;
    }

    .contactme {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 2vh;
    }

    .email,
    .phone {
        width: 90vw;
        text-align: center;
    }

    .c1 {
        color: blue;
        font-size: 5vw;
    }

    .c2 {
        font-size: 4vw;
    }

   /* Contact Section - Mobile Fix */
.form {
    width: 100%;
    padding: 0 5vw;
}

#form1 {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

#form1 input,
#form1 textarea {
    width: 100%;
    font-size: 4vw;
    padding: 2.5vh 3vw;
    border-radius: 8px;
}

#form1 textarea {
    resize: none;
}

#form1 button {
    width: 100%;
    font-size: 4.5vw;
    padding: 2.5vh;
    border-radius: 8px;
}

    /* Services Section */
    #services {
        flex-direction: column;
        align-items: center;
        margin: 0vh auto 0vh auto;
    }

    .service-content {
        width: 100%;
    }

    .service {
        flex-direction: column;
        padding: 4vw;
        height: auto;
        gap: 1vh;
        text-align: center;
        animation: none;
    }

    .service>span {
        font-size: 5vw;
        color: blue;
    }

    .service>p {
        font-size: 4vw;
    }

    .service::before {
        content: '';
        position: absolute;
        display: none;
        top: 0;
    }

    /* Portfolio Section */
    #portfolio {
        width: 95vw;
        padding: 4vw;
        border-radius: 3vw;
        margin: 7vh auto;
    }
    #portfolio>p{
        font-size: 4vw;
    }

    .buttons {
        justify-content: center;
        margin: 4vh 0;
    }

    .btn {
        width: 10vw;
        height: 10vw;
        background-size: 5vw;
    }

    .slider {
        flex-direction: row;
        column-gap: 4vw;
        height: 35vh;
        overflow-x: scroll;
    }

    .p {
        width: 80vw;
        height: 50vw;
        border-radius: 4vw;
        background-size: cover;
    }

    /* Skills Section */

    #skills {
        width: 95vw;
        padding: 4vw;
        border-radius: 3vw;
        margin: 7vh auto;
    }

    .container-skills {
        grid-template-columns: 1fr 1fr;
        row-gap: 5vw;
        column-gap: 5vw;
    }

    .skill {
        height: auto;
        padding: 5vw 2vw;
        font-size: 4vw;
    }

    .percentage1 {
        font-size: 2vw;
    }

    .circular-chart {
        max-height: 100px;
    }

    /* for menu */
    #menu {
        padding: 2vw 8vw 2vw 8vw;
        background-color: #3446ecea;
    }
    #menu>a {
        font-size: 4vw;
    }
}

/* ========================= */
/* Modern Animated Hamburger */
/* ========================= */

.hamburger {
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1000;
}

.hamburger span {
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 10px;
    transition: 0.4s ease;
}

/* Animation when active */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
    background: #3446ec;
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
    transform: translateX(-20px);
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
    background: #3446ec;
}

/* ========================= */
/* Animated Dropdown Menu */
/* ========================= */

#menu {
    padding: 2vw 4vw;
    background: linear-gradient(135deg, #111, #1a1a1a);
    position: absolute;
    top: 12vh;
    right: 4vw;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    border-radius: 15px;
    transform: scale(0.8);
    opacity: 0;
    pointer-events: none;
    transition: 0.4s ease;
}

#menu.show {
    transform: scale(1);
    opacity: 1;
    pointer-events: all;
}

/* menu link hover animation */
#menu a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    position: relative;
    transition: 0.3s ease;
}

#menu a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background: #3446ec;
    transition: 0.3s ease;
}

#menu a:hover::after {
    width: 100%;
}
